@using ananlips.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
    var dict = Model != null ? (Dictionary<string, object>)Model : new Dictionary<string, object>();
    var data_Product = dict.ContainsKey("data_Product") ? (List<DefaultView.FE_Product>)dict["data_Product"] : new List<DefaultView.FE_Product>();


}

<div class="subcategories">
    <ul>
        <li class="current-categorie">
            <a href="#">Dưỡng da</a>
        </li>
        <li>
            <a href="https://thefaceshopvn.com/danh-muc/duong-da/kem-chong-nang/">Kem chống nắng</a>
        </li>
        <li>
            <a href="https://thefaceshopvn.com/danh-muc/duong-da/kem-duong/">Kem dưỡng</a>
        </li>
        <li>
            <a href="https://thefaceshopvn.com/danh-muc/duong-da/kem-mat/">Kem mắt</a>
        </li>
        <li>
            <a href="https://thefaceshopvn.com/danh-muc/duong-da/kem-mat-xa/">Kem mát-xa</a>
        </li>
    </ul>
</div>
<h1 class="page-title">
    <span>Dưỡng da</span><div class="display-product-option">
        <ul>
            <li class="view-as-grid selected">
                <span>grid</span>
            </li>
            <li class="view-as-list ">
                <span>list</span>
            </li>
        </ul><form class="woocommerce-ordering" method="get">
            <select name="orderby" class="orderby">
                <option value="menu_order" selected="selected">Thứ tự mặc định</option>
                <option value="popularity">Thứ tự theo mức độ phổ biến</option>
                <option value="rating">Thứ tự theo điểm đánh giá</option>
                <option value="date">Thứ tự theo sản phẩm mới</option>
                <option value="price">Thứ tự theo giá: thấp đến cao</option>
                <option value="price-desc">Thứ tự theo giá: cao xuống thấp</option>
            </select>
        </form><p class="woocommerce-result-count">
            Showing 1–18 of 28 results
        </p>
    </div>
</h1><div class="row list-product-row">
    <ul class="grid product-list clearfix columns-3">
        <li class="first col-xs-12 col-md-4 col-sm-6 post-3697 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-collagen product_cat-duong-da product_cat-kem-duong product_cat-nuoc-can-bang product_cat-san-pham-khuyen-mai product_cat-sua-duong product_cat-tinh-chat  instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/bo-duong-giup-da-san-min-pomegranate-collagen-volume-lifting/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/bo-duong-giup-da-san-min-pomegranate-collagen-volume-lifting/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/bo-duong-giup-da-san-min-pomegranate-collagen-volume-lifting/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2018/03/IMG_8294-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="IMG_8294" title="IMG_8294" srcset="https://thefaceshopvn.com/wp-content/uploads/2018/03/IMG_8294-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2018/03/IMG_8294-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2018/03/IMG_8294-420x512.jpg 420w, https://thefaceshopvn.com/wp-content/uploads/2018/03/IMG_8294-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=3697" class="compare button" data-product_id="3697" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="3697">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=3697" rel="nofollow" data-product_id="3697" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="3697">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Bộ Dưỡng Giúp Da Săn Mịn POMEGRANATE AND COLLAGEN VOLUME LIFTING" href="https://thefaceshopvn.com/san-pham/bo-duong-giup-da-san-min-pomegranate-collagen-volume-lifting/">Bộ Dưỡng Giúp Da Săn Mịn POMEGRANATE AND COLLAGEN VOLUME LIFTING</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">2,796,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">1,790,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="last col-xs-12 col-md-4 col-sm-6 post-4054 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-dong-duong-gao product_cat-duong-da product_cat-kem-duong product_cat-lam-sach product_cat-nuoc-can-bang product_cat-san-pham-khuyen-mai product_cat-sua-duong product_cat-sua-rua-mat first instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/bo-duong-lam-sang-da-set-gao-rice-ceramide-special-set/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/bo-duong-lam-sang-da-set-gao-rice-ceramide-special-set/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/bo-duong-lam-sang-da-set-gao-rice-ceramide-special-set/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2018/06/a4610b90e5ff04a15dee-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="a4610b90e5ff04a15dee" title="a4610b90e5ff04a15dee" srcset="https://thefaceshopvn.com/wp-content/uploads/2018/06/a4610b90e5ff04a15dee-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2018/06/a4610b90e5ff04a15dee-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2018/06/a4610b90e5ff04a15dee-420x512.jpg 420w, https://thefaceshopvn.com/wp-content/uploads/2018/06/a4610b90e5ff04a15dee-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=4054" class="compare button" data-product_id="4054" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="4054">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=4054" rel="nofollow" data-product_id="4054" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="4054">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Bộ Dưỡng Làm Sáng Da (SET) Gạo RICE &amp; CERAMIDE SPECIAL SET" href="https://thefaceshopvn.com/san-pham/bo-duong-lam-sang-da-set-gao-rice-ceramide-special-set/">Bộ Dưỡng Làm Sáng Da (SET) Gạo RICE &amp; CERAMIDE SPECIAL SET</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">799,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">689,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-4 col-sm-6 post-3735 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-clean-face product_cat-duong-da product_cat-nuoc-can-bang product_cat-sua-duong last instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/bo-doi-tri-mun-va-duong-da-mun-clean-face/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/bo-doi-tri-mun-va-duong-da-mun-clean-face/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/bo-doi-tri-mun-va-duong-da-mun-clean-face/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2018/03/IMG_6270-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="IMG_6270" title="IMG_6270" srcset="https://thefaceshopvn.com/wp-content/uploads/2018/03/IMG_6270-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2018/03/IMG_6270-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2018/03/IMG_6270-420x512.jpg 420w, https://thefaceshopvn.com/wp-content/uploads/2018/03/IMG_6270-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=3735" class="compare button" data-product_id="3735" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="3735">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=3735" rel="nofollow" data-product_id="3735" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="3735">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Bộ Đôi Trị Mụn Và Dưỡng Da Dành Cho Da Mụn Clean Face" href="https://thefaceshopvn.com/san-pham/bo-doi-tri-mun-va-duong-da-mun-clean-face/">Bộ Đôi Trị Mụn Và Dưỡng Da Dành Cho Da Mụn Clean Face</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">640,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">530,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="first col-xs-12 col-md-4 col-sm-6 post-2953 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-clean-face product_cat-duong-da product_cat-lam-sach product_cat-nuoc-can-bang product_cat-san-pham-khuyen-mai product_cat-sua-duong product_cat-sua-rua-mat product_cat-tinh-chat  instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/bo-tri-mun-va-duong-da-mun-clean-face-thefaceshop/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/bo-tri-mun-va-duong-da-mun-clean-face-thefaceshop/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/bo-tri-mun-va-duong-da-mun-clean-face-thefaceshop/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/12/bo-duong-tri-mun-clean-face-set-500x500-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="bo-duong-tri-mun-clean-face-set-500x500" title="bo-duong-tri-mun-clean-face-set-500x500" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/12/bo-duong-tri-mun-clean-face-set-500x500-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/12/bo-duong-tri-mun-clean-face-set-500x500-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/12/bo-duong-tri-mun-clean-face-set-500x500-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2953" class="compare button" data-product_id="2953" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2953">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=2953" rel="nofollow" data-product_id="2953" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2953">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Bộ Trị Mụn Và Dưỡng Da Mụn Clean Face Thefaceshop" href="https://thefaceshopvn.com/san-pham/bo-tri-mun-va-duong-da-mun-clean-face-thefaceshop/">Bộ Trị Mụn Và Dưỡng Da Mụn Clean Face Thefaceshop</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">1,108,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">849,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="last col-xs-12 col-md-4 col-sm-6 post-2842 product type-product status-publish has-post-thumbnail product_cat-duong-da product_cat-kem-mat-xa product_cat-san-pham-khuyen-mai product_cat-san-pham-moi first instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/gel-massage-tre-the-face-shop-damyang-bamboo-fresh-soothing/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/gel-massage-tre-the-face-shop-damyang-bamboo-fresh-soothing/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/gel-massage-tre-the-face-shop-damyang-bamboo-fresh-soothing/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/11/af002628_01_1_480x480_364996243-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="af002628_01_1_480x480_364996243" title="af002628_01_1_480x480_364996243" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/11/af002628_01_1_480x480_364996243-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/11/af002628_01_1_480x480_364996243-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/11/af002628_01_1_480x480_364996243-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2842" class="compare button" data-product_id="2842" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2842">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=2842" rel="nofollow" data-product_id="2842" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2842">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Gel Massage Tre The Face Shop Damyang Bamboo Fresh Soothing" href="https://thefaceshopvn.com/san-pham/gel-massage-tre-the-face-shop-damyang-bamboo-fresh-soothing/">Gel Massage Tre The Face Shop Damyang Bamboo Fresh Soothing</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">325,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">197,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-4 col-sm-6 post-2343 product type-product status-publish has-post-thumbnail product_cat-duong-da product_cat-kem-chong-nang product_cat-san-pham-khuyen-mai product_cat-san-pham-noi-bat last instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/power-long-lasting-sun-cream/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/power-long-lasting-sun-cream/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/power-long-lasting-sun-cream/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/theface_598_light-500x500_master-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="theface_598_light-500x500_master" title="theface_598_light-500x500_master" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/04/theface_598_light-500x500_master-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/04/theface_598_light-500x500_master-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/04/theface_598_light-500x500_master-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2343" class="compare button" data-product_id="2343" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2343">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=2343" rel="nofollow" data-product_id="2343" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2343">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Kem Chống Nắng Đa Chức Năng NATURAL SUN ECO POWER LONG-LASTING SUN CREAM SPF50+ PA+++" href="https://thefaceshopvn.com/san-pham/power-long-lasting-sun-cream/">Kem Chống Nắng Đa Chức Năng NATURAL SUN ECO POWER LONG-LASTING SUN CREAM SPF50+ PA+++</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">605,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">365,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="first col-xs-12 col-md-4 col-sm-6 post-2349 product type-product status-publish has-post-thumbnail product_cat-clean-face product_cat-duong-da product_cat-kem-chong-nang product_cat-san-pham-khuyen-mai product_cat-san-pham-noi-bat  instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/kem-chong-nang-kiem-soat-dau-clean-face-oil-control-sun-cream-spf35pa/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/kem-chong-nang-kiem-soat-dau-clean-face-oil-control-sun-cream-spf35pa/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/kem-chong-nang-kiem-soat-dau-clean-face-oil-control-sun-cream-spf35pa/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/oil-control-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="oil control" title="oil control" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/04/oil-control-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/04/oil-control-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/04/oil-control-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2349" class="compare button" data-product_id="2349" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2349">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=2349" rel="nofollow" data-product_id="2349" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2349">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Kem Chống Nắng Kiểm Soát Dầu CLEAN FACE OIL CONTROL SUN CREAM SPF35PA++" href="https://thefaceshopvn.com/san-pham/kem-chong-nang-kiem-soat-dau-clean-face-oil-control-sun-cream-spf35pa/">Kem Chống Nắng Kiểm Soát Dầu CLEAN FACE OIL CONTROL SUN CREAM SPF35PA++</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">245,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">199,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="last col-xs-12 col-md-4 col-sm-6 post-2351 product type-product status-publish has-post-thumbnail product_cat-duong-da product_cat-kem-chong-nang product_cat-san-pham-khuyen-mai first instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/kem-chong-nang-kiem-soat-nhon-natural-sun-eco-no-shine-hydrating-sun-cream-spf40-pa/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/kem-chong-nang-kiem-soat-nhon-natural-sun-eco-no-shine-hydrating-sun-cream-spf40-pa/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/kem-chong-nang-kiem-soat-nhon-natural-sun-eco-no-shine-hydrating-sun-cream-spf40-pa/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/natural_sun_eco_no_shine_hydrating_sun_cream_spf40_pa____master-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="natural_sun_eco_no_shine_hydrating_sun_cream_spf40_pa____master" title="natural_sun_eco_no_shine_hydrating_sun_cream_spf40_pa____master" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/04/natural_sun_eco_no_shine_hydrating_sun_cream_spf40_pa____master-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/04/natural_sun_eco_no_shine_hydrating_sun_cream_spf40_pa____master-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/04/natural_sun_eco_no_shine_hydrating_sun_cream_spf40_pa____master-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2351" class="compare button" data-product_id="2351" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2351">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=2351" rel="nofollow" data-product_id="2351" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2351">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Kem Chống Nắng Kiểm Soát Nhờn NATURAL SUN ECO NO SHINE HYDRATING SUN CREAM SPF40 PA+++" href="https://thefaceshopvn.com/san-pham/kem-chong-nang-kiem-soat-nhon-natural-sun-eco-no-shine-hydrating-sun-cream-spf40-pa/">Kem Chống Nắng Kiểm Soát Nhờn NATURAL SUN ECO NO SHINE HYDRATING SUN CREAM SPF40 PA+++</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">535,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">289,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-4 col-sm-6 post-2354 product type-product status-publish has-post-thumbnail product_cat-duong-da product_cat-kem-chong-nang last instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/kem-chong-nang-tang-cuong-natural-sun-eco-super-perfect-sun-cream-spf50-pa/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/kem-chong-nang-tang-cuong-natural-sun-eco-super-perfect-sun-cream-spf50-pa/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/kem-chong-nang-tang-cuong-natural-sun-eco-super-perfect-sun-cream-spf50-pa/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/natural_sun_eco_super_perfect_sun_cream_spf50__pa____master-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="natural_sun_eco_super_perfect_sun_cream_spf50__pa____master" title="natural_sun_eco_super_perfect_sun_cream_spf50__pa____master" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/04/natural_sun_eco_super_perfect_sun_cream_spf50__pa____master-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/04/natural_sun_eco_super_perfect_sun_cream_spf50__pa____master-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/04/natural_sun_eco_super_perfect_sun_cream_spf50__pa____master-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2354" class="compare button" data-product_id="2354" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2354">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=2354" rel="nofollow" data-product_id="2354" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2354">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Kem Chống Nắng Tăng Cường NATURAL SUN ECO SUPER PERFECT SUN CREAM SPF50+ PA+++" href="https://thefaceshopvn.com/san-pham/kem-chong-nang-tang-cuong-natural-sun-eco-super-perfect-sun-cream-spf50-pa/">Kem Chống Nắng Tăng Cường NATURAL SUN ECO SUPER PERFECT SUN CREAM SPF50+ PA+++</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">325,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">255,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="first col-xs-12 col-md-4 col-sm-6 post-3008 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-chia-seed product_cat-duong-da product_cat-kem-duong  instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/kem-duong-cung-cap-thefaceshop-chia-seed-moisture-recharge-cream/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/kem-duong-cung-cap-thefaceshop-chia-seed-moisture-recharge-cream/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/kem-duong-cung-cap-thefaceshop-chia-seed-moisture-recharge-cream/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/12/thefaceshop_chia_seed_moisture_recharge_cream_master-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="thefaceshop_chia_seed_moisture_recharge_cream_master" title="thefaceshop_chia_seed_moisture_recharge_cream_master" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/12/thefaceshop_chia_seed_moisture_recharge_cream_master-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/12/thefaceshop_chia_seed_moisture_recharge_cream_master-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/12/thefaceshop_chia_seed_moisture_recharge_cream_master-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=3008" class="compare button" data-product_id="3008" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="3008">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=3008" rel="nofollow" data-product_id="3008" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="3008">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Kem Dưỡng Cung Cấp Ẩm THEFACESHOP CHIA SEED MOISTURE RECHARGE CREAM" href="https://thefaceshopvn.com/san-pham/kem-duong-cung-cap-thefaceshop-chia-seed-moisture-recharge-cream/">Kem Dưỡng Cung Cấp Ẩm THEFACESHOP CHIA SEED MOISTURE RECHARGE CREAM</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">799,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">435,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="last col-xs-12 col-md-4 col-sm-6 post-3560 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-dr-belmeur product_cat-duong-da product_cat-kem-duong product_cat-san-pham-ban-chay product_cat-san-pham-khuyen-mai product_cat-san-pham-moi product_cat-san-pham-noi-bat first instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/kem-duong-da-dr-belmeur-daily-repair-panthenol-soothing-gel-cream-100ml/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/kem-duong-da-dr-belmeur-daily-repair-panthenol-soothing-gel-cream-100ml/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/kem-duong-da-dr-belmeur-daily-repair-panthenol-soothing-gel-cream-100ml/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2018/01/Dr-belmeur-soothing-gel-cream-80ml-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="Dr-belmeur soothing gel cream 80ml" title="Dr-belmeur soothing gel cream 80ml" srcset="https://thefaceshopvn.com/wp-content/uploads/2018/01/Dr-belmeur-soothing-gel-cream-80ml-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2018/01/Dr-belmeur-soothing-gel-cream-80ml-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2018/01/Dr-belmeur-soothing-gel-cream-80ml-420x512.jpg 420w, https://thefaceshopvn.com/wp-content/uploads/2018/01/Dr-belmeur-soothing-gel-cream-80ml-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=3560" class="compare button" data-product_id="3560" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="3560">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=3560" rel="nofollow" data-product_id="3560" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="3560">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Kem Dưỡng Da DR.BELMEUR DAILY REPAIR PANTHENOL SOOTHING GEL CREAM 80ML" href="https://thefaceshopvn.com/san-pham/kem-duong-da-dr-belmeur-daily-repair-panthenol-soothing-gel-cream-100ml/">Kem Dưỡng Da DR.BELMEUR DAILY REPAIR PANTHENOL SOOTHING GEL CREAM 80ML</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">985,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">689,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-4 col-sm-6 post-2327 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-collagen product_cat-duong-da product_cat-kem-duong product_cat-san-pham-khuyen-mai last instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/kem-duong-giup-da-san-min-pomegranate-and-collagen-volume-lifting-cream/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/kem-duong-giup-da-san-min-pomegranate-and-collagen-volume-lifting-cream/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/kem-duong-giup-da-san-min-pomegranate-and-collagen-volume-lifting-cream/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/600x600_master-300x366.png" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="600x600_master" title="600x600_master" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/04/600x600_master-100x122.png 100w, https://thefaceshopvn.com/wp-content/uploads/2017/04/600x600_master-300x366.png 300w, https://thefaceshopvn.com/wp-content/uploads/2017/04/600x600_master-420x512.png 420w, https://thefaceshopvn.com/wp-content/uploads/2017/04/600x600_master-270x329.png 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2327" class="compare button" data-product_id="2327" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2327">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=2327" rel="nofollow" data-product_id="2327" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2327">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Kem Dưỡng Giúp Da Săn Mịn POMEGRANATE AND COLLAGEN VOLUME LIFTING CREAM" href="https://thefaceshopvn.com/san-pham/kem-duong-giup-da-san-min-pomegranate-and-collagen-volume-lifting-cream/">Kem Dưỡng Giúp Da Săn Mịn POMEGRANATE AND COLLAGEN VOLUME LIFTING CREAM</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">699,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">449,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="first col-xs-12 col-md-4 col-sm-6 post-4056 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-dong-duong-gao product_cat-duong-da product_cat-kem-duong  instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/kem-duong-lam-sang-da-riceceramide-moisture-cream-previous-next-kem-duong-lam-sang-da-riceceramide-moisture-cream/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/kem-duong-lam-sang-da-riceceramide-moisture-cream-previous-next-kem-duong-lam-sang-da-riceceramide-moisture-cream/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/kem-duong-lam-sang-da-riceceramide-moisture-cream-previous-next-kem-duong-lam-sang-da-riceceramide-moisture-cream/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2018/06/kem-duong-gao-rice-ceramide-moisture-cream-thefaceshop-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="Kem dưỡng gạo Rice Ceramide Moisture Cream TheFaceShop" title="Kem dưỡng gạo Rice Ceramide Moisture Cream TheFaceShop" srcset="https://thefaceshopvn.com/wp-content/uploads/2018/06/kem-duong-gao-rice-ceramide-moisture-cream-thefaceshop-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2018/06/kem-duong-gao-rice-ceramide-moisture-cream-thefaceshop-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2018/06/kem-duong-gao-rice-ceramide-moisture-cream-thefaceshop-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=4056" class="compare button" data-product_id="4056" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="4056">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=4056" rel="nofollow" data-product_id="4056" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="4056">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Kem Dưỡng Làm Sáng Da RICE&amp;CERAMIDE MOISTURE CREAM" href="https://thefaceshopvn.com/san-pham/kem-duong-lam-sang-da-riceceramide-moisture-cream-previous-next-kem-duong-lam-sang-da-riceceramide-moisture-cream/">Kem Dưỡng Làm Sáng Da RICE&amp;CERAMIDE MOISTURE CREAM</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">299,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">195,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="last col-xs-12 col-md-4 col-sm-6 post-2334 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-collagen product_cat-duong-da product_cat-kem-mat product_cat-san-pham-khuyen-mai first instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/kem-duong-mat-giup-da-san-min-pomegranate-and-collagen-volume-lifting-eye-cream/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/kem-duong-mat-giup-da-san-min-pomegranate-and-collagen-volume-lifting-eye-cream/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/kem-duong-mat-giup-da-san-min-pomegranate-and-collagen-volume-lifting-eye-cream/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/pomegranate-and-collagen-volume-lifting-eye-cream_master-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="pomegranate-and-collagen-volume-lifting-eye-cream_master" title="pomegranate-and-collagen-volume-lifting-eye-cream_master" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/04/pomegranate-and-collagen-volume-lifting-eye-cream_master-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/04/pomegranate-and-collagen-volume-lifting-eye-cream_master-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/04/pomegranate-and-collagen-volume-lifting-eye-cream_master-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2334" class="compare button" data-product_id="2334" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2334">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=2334" rel="nofollow" data-product_id="2334" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2334">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Kem Dưỡng Mắt Giúp Da Săn Mịn POMEGRANATE AND COLLAGEN VOLUME LIFTING EYE CREAM" href="https://thefaceshopvn.com/san-pham/kem-duong-mat-giup-da-san-min-pomegranate-and-collagen-volume-lifting-eye-cream/">Kem Dưỡng Mắt Giúp Da Săn Mịn POMEGRANATE AND COLLAGEN VOLUME LIFTING EYE CREAM</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">699,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">449,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-4 col-sm-6 post-3341 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-dr-belmeur product_cat-duong-da product_cat-kem-duong product_cat-san-pham-ban-chay product_cat-san-pham-moi product_cat-san-pham-noi-bat last instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/kem-duong-phuc-hoi-da-nhay-cam-dr-belmeur-daily-repair-ato-salt-cream/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/kem-duong-phuc-hoi-da-nhay-cam-dr-belmeur-daily-repair-ato-salt-cream/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/kem-duong-phuc-hoi-da-nhay-cam-dr-belmeur-daily-repair-ato-salt-cream/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2018/01/Dr-belmeur-ato-salt-crea-100ml-1-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="Dr belmeur ato salt crea, 100ml" title="Dr belmeur ato salt crea, 100ml" srcset="https://thefaceshopvn.com/wp-content/uploads/2018/01/Dr-belmeur-ato-salt-crea-100ml-1-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2018/01/Dr-belmeur-ato-salt-crea-100ml-1-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2018/01/Dr-belmeur-ato-salt-crea-100ml-1-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=3341" class="compare button" data-product_id="3341" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="3341">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=3341" rel="nofollow" data-product_id="3341" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="3341">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Kem dưỡng phục hồi da nhạy cảm DR.BELMEUR DAILY REPAIR ATO SALT CREAM100ML" href="https://thefaceshopvn.com/san-pham/kem-duong-phuc-hoi-da-nhay-cam-dr-belmeur-daily-repair-ato-salt-cream/">Kem dưỡng phục hồi da nhạy cảm DR.BELMEUR DAILY REPAIR ATO SALT CREAM100ML</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">929,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">699,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="first col-xs-12 col-md-4 col-sm-6 post-2984 product type-product status-publish has-post-thumbnail product_cat-cham-soc-co-the product_cat-duong-da product_cat-duong-tay-duong-chan product_cat-kem-mat-xa  instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/kem-massage-lam-sang-da-thefaceshop-rice-water-bright-rice-massage-cream/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/kem-massage-lam-sang-da-thefaceshop-rice-water-bright-rice-massage-cream/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/kem-massage-lam-sang-da-thefaceshop-rice-water-bright-rice-massage-cream/">
                        <img width="300" height="355" src="https://thefaceshopvn.com/wp-content/uploads/2017/12/kem-massage-300x355.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="kem massage" title="kem massage">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2984" class="compare button" data-product_id="2984" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2984">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=2984" rel="nofollow" data-product_id="2984" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2984">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Kem Massage Làm Sáng Da THEFACESHOP RICE WATER BRIGHT RICE MASSAGE CREAM" href="https://thefaceshopvn.com/san-pham/kem-massage-lam-sang-da-thefaceshop-rice-water-bright-rice-massage-cream/">Kem Massage Làm Sáng Da THEFACESHOP RICE WATER BRIGHT RICE MASSAGE CREAM</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">399,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">299,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="last col-xs-12 col-md-4 col-sm-6 post-3897 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-duong-da product_cat-herb-day product_cat-kem-mat-xa first instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/kem-massage-trang-da-herb-day/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/kem-massage-trang-da-herb-day/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/kem-massage-trang-da-herb-day/">
                        <img width="300" height="350" src="https://thefaceshopvn.com/wp-content/uploads/2018/05/607_kem_massage_herb_day_massage_cream_the_face_shop_html-300x350.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="607_kem_massage_herb_day_massage_cream_the_face_shop_html" title="607_kem_massage_herb_day_massage_cream_the_face_shop_html">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=3897" class="compare button" data-product_id="3897" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="3897">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=3897" rel="nofollow" data-product_id="3897" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="3897">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Kem massage Trắng Da HERB DAY MASSAGE CREAM" href="https://thefaceshopvn.com/san-pham/kem-massage-trang-da-herb-day/">Kem massage Trắng Da HERB DAY MASSAGE CREAM</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">219,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">149,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-4 col-sm-6 post-2283 product type-product status-publish has-post-thumbnail product_cat-chia-seed product_cat-duong-da product_cat-nuoc-can-bang last instock sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <a href="https://thefaceshopvn.com/san-pham/nuoc-can-bang-cung-cap-am-thefaceshop-chia-seed-hydrating-toner/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                    <a href="https://thefaceshopvn.com/san-pham/nuoc-can-bang-cung-cap-am-thefaceshop-chia-seed-hydrating-toner/" class="woocommerce-LoopProduct-link">
                    </a><a href="https://thefaceshopvn.com/san-pham/nuoc-can-bang-cung-cap-am-thefaceshop-chia-seed-hydrating-toner/">
                        <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/925160257885-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="925160257885" title="925160257885" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/04/925160257885-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/04/925160257885-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/04/925160257885-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                    </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2283" class="compare button" data-product_id="2283" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2283">Quick View</a></div>
                    <div class="add-to-cart"><a href="/danh-muc/duong-da/?add-to-cart=2283" rel="nofollow" data-product_id="2283" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2283">Quick View</a>
                </div><div class="right-block">
                    <h5 class="product-name"><a title="Nước Cân Bằng Cung Cấp Ẩm THEFACESHOP CHIA SEED HYDRATING TONER" href="https://thefaceshopvn.com/san-pham/nuoc-can-bang-cung-cap-am-thefaceshop-chia-seed-hydrating-toner/">Nước Cân Bằng Cung Cấp Ẩm THEFACESHOP CHIA SEED HYDRATING TONER</a></h5><div class="content_price">
                        <span class="price"><del><span class="woocommerce-Price-amount amount">519,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">399,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                    </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                </div>
            </div>
        </li>
    </ul>
</div>
<nav class="navigation pagination" role="navigation">
    <h2 class="screen-reader-text">&nbsp;</h2><div class="nav-links">
        <span class="page-numbers current">1</span>
        <a class="page-numbers" href="https://thefaceshopvn.com/danh-muc/duong-da/page/2/">2</a>
        <a class="next page-numbers" href="https://thefaceshopvn.com/danh-muc/duong-da/page/2/">Next <i class="fa fa-angle-double-right"></i></a>
    </div>
</nav>
<form class="woocommerce-ordering" method="get">
    <select name="orderby" class="orderby">
        <option value="menu_order" selected="selected">Thứ tự mặc định</option>
        <option value="popularity">Thứ tự theo mức độ phổ biến</option>
        <option value="rating">Thứ tự theo điểm đánh giá</option>
        <option value="date">Thứ tự theo sản phẩm mới</option>
        <option value="price">Thứ tự theo giá: thấp đến cao</option>
        <option value="price-desc">Thứ tự theo giá: cao xuống thấp</option>
    </select>
</form>

