@using ananlips.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
    var dict = Model != null ? (Dictionary<string, object>)Model : new Dictionary<string, object>();
    var data_Product = dict.ContainsKey("data_Product") ? (DefaultView.FE_Product)dict["data_Product"] : new DefaultView.FE_Product();

}

<div id="content" role="main">
    <nav class="woocommerce-breadcrumb"><a href="https://thefaceshopvn.com">Trang chủ</a><span class="navigation-pipe">&nbsp;</span><a href="https://thefaceshopvn.com/danh-muc/lam-sach/">Làm sạch</a><span class="navigation-pipe">&nbsp;</span><a href="https://thefaceshopvn.com/danh-muc/lam-sach/tay-te-bao-chet/">Tẩy tế bào chết</a><span class="navigation-pipe">&nbsp;</span>Tẩy tế bào chết Trắng Sáng Da WHITE JEWEL PEELING</nav><div class="row sidebar-full">
        <div class="view-product-list main-content col-xs-12 col-sm-12 col-md-12">
            <div itemscope="" itemtype="http://schema.org/Product" id="product-2439" class="post-2439 product type-product status-publish has-post-thumbnail product_cat-lam-sach product_cat-san-pham-ban-chay product_cat-san-pham-khuyen-mai product_cat-san-pham-noi-bat product_cat-tay-te-bao-chet first instock sale shipping-taxable purchasable product-type-simple">
                <span class="onsale">Giảm giá!</span><div class="pb-left-column col-xs-12 col-md-6">
                    <div id="product-img" class="clearfix">
                        <div id="slider-thumb" class="hidden-xs">
                            <ul>
                                <li class="product-thumb" data-index="0">
                                    <a href="#" data-image="https://thefaceshopvn.com/wp-content/uploads/2017/04/untitled_master.png">
                                        <img alt="" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/untitled_master.png">
                                    </a>
                                </li>
                            </ul>
                        </div><div id="slider-feature" class="flexslider">
                            <img src="https://thefaceshopvn.com/wp-content/uploads/2017/04/untitled_master.png">
                        </div>
                        <span class="giamgia_">-32<i>%</i></span>
                    </div>
                    <script>jQuery(document).ready(function (e) { jQuery('#slider-thumb ul li a').click(function () { var index = jQuery(this).attr('data-image'); jQuery('#slider-feature').html('<img src="' + index + '" />'); return false; }) });</script>
                </div><div class="summary entry-summary">
                    <h1 class="product_title entry-title">Tẩy tế bào chết Trắng Sáng Da WHITE JEWEL PEELING</h1><p class="price"><del><span class="woocommerce-Price-amount amount">299,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">215,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></p><div class="product-info clearfix">
                        <p class="info-item col-xs-12 col-sm-6">
                            <label>Thương hiệu</label>
                            <span class="vendor">THE<strong>FACE</strong>SHOP</span>
                        </p><p class="info-item col-xs-12 col-sm-6">
                            <label>Nơi sản xuất</label>
                            <span>Hàn Quốc</span>
                        </p>
                    </div><div class="product-info clearfix">
                        <p class="info-item col-xs-12 col-sm-6">
                            <label>Dung tích</label>
                            <span class="vendor">120ml</span>
                        </p>
                    </div><form class="cart" method="post" enctype="multipart/form-data">
                        <div class="quantity">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="quantity-label">
                                            Số lượng
                                        </td>
                                        <td>
                                            <span class="quantity-minus">-</span>
                                            <input type="text" step="1" min="1" name="quantity" value="1" title="Qty" class="input-text qty text" size="4">
                                            <span class="quantity-plus">+</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><div class="info-buynow pull-right">
                            <div class="hotline clearfix">
                                <div class="hotline-icon">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div><div class="hotline-text text-center">
                                    <span class="hotline-color">HOTLINE: 0901 974 445</span>
                                </div>
                            </div>
                        </div><div class="clearfix"></div><div class="clearfix">
                            <div class="action-cart pull-left">
                                <button type="submit" name="add-to-cart" value="2439" class="single_add_to_cart_button button alt">Thêm vào giỏ</button>
                            </div><div class="action-cart pull-right" style="margin-right:0">
                                <a href="" data-toggle="modal" data-product_id="2439" data-target="#tuvan-modal" class="buy-now available fastBuyBtn" style="height:50px; line-height:50px;">Mua nhanh</a>
                            </div>
                        </div><div class="privacy-bg">
                            <div class="clearfix">
                                <div class="privacy-left pull-left">
                                    <p style="margin-top:0;">Sẽ có tại nhà bạn</p>
                                    <span>- Trong 48h đối với nội thành TP.HCM <br>- Không quá 5 ngày với các tỉnh thành khác.<br><i>(Không kể ngày lễ và chủ nhật.)</i></span>
                                </div><div class="privacy-right pull-left"><p class="doitra">Giao hàng toàn quốc</p><p class="vanchuyen">Giao hàng nhanh, đảm bảo</p><p class="thanhtoan">Nhận hàng mới thanh toán</p></div>
                            </div><div class="clearfix" style="margin-top:5px; text-align:center;">
                                <strong>TƯ VẤN BÁN HÀNG: 0901 974 445</strong>
                            </div>
                        </div>
                    </form><div class="modal fade in" id="tuvan-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div role="form" class="wpcf7" id="wpcf7-f2242-p2439-o1" lang="vi" dir="ltr">
                            <div class="screen-reader-response"></div><form action="/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/#wpcf7-f2242-p2439-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="2242">
                                    <input type="hidden" name="_wpcf7_version" value="4.3">
                                    <input type="hidden" name="_wpcf7_locale" value="vi">
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2242-p2439-o1">
                                    <input type="hidden" name="_wpnonce" value="95a4f2671b">
                                </div><div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="buynow-top clearfix">
                                                <button id="closeModalProduct" type="button" class="close" data-dismiss="modal">×</button><p></p><div class="buynow-img pull-left">
                                                    <img src="https://thefaceshopvn.com/wp-content/uploads/2017/04/untitled_master.png" class="img_product_th">
                                                </div><div class="buynow-info pull-left">
                                                    <div class="clearfix buynow-title"><h3 class="pull-left">Tẩy tế bào chết Trắng Sáng Da WHITE JEWEL PEELING</h3><p></p></div><div class="product-info clearfix">
                                                        <p class="info-item col-xs-12 col-sm-6">
                                                            <label>Thương hiệu</label><span class="vendor">THE<strong>FACE</strong>SHOP</span>
                                                        </p><p class="info-item col-xs-12 col-sm-6">
                                                            <label>Nơi sản xuất</label><span>Hàn Quốc</span>
                                                        </p><p></p>
                                                    </div><div class="buynow-quantity clearfix">
                                                        <div class="show-variant"></div><div class="show-quantity">
                                                            <label>Số lượng</label><span class="wpcf7-form-control-wrap quantity2"><select name="quantity2" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required product-quantity" id="quantity2" aria-required="true" aria-invalid="false"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></span>
                                                        </div><p></p>
                                                    </div><p></p>
                                                </div><p></p>
                                            </div><div class="buynow-total row clearfix">
                                                <span class="pull-left">Tổng tiền:</span><span class="pull-right buynow-total-price" data-price="215000"><span class="woocommerce-Price-amount amount">215,000<span class="woocommerce-Price-currencySymbol">₫</span></span></span>
                                            </div><p>                <input type="hidden" value="215000" id="priceProductSimple"></p><div class="areainfo clearfix">
                                                <div class="pull-left">
                                                    <span class="wpcf7-form-control-wrap fullName"><input type="text" name="fullName" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required saveinfo" aria-required="true" aria-invalid="false" placeholder="Họ và tên"></span>
                                                </div><div class="pull-right">
                                                    <span class="wpcf7-form-control-wrap phoneNumber"><input type="tel" name="phoneNumber" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel saveinfo" aria-required="true" aria-invalid="false" placeholder="Số điện thoại"></span>
                                                </div><div class="pull-left">
                                                    <span class="wpcf7-form-control-wrap nameAddress"><input type="text" name="nameAddress" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required saveinfo" aria-required="true" aria-invalid="false" placeholder="Địa chỉ"></span>
                                                </div><div class="pull-right"> <span class="wpcf7-form-control-wrap emailCus"><input type="email" name="emailCus" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email saveinfo" aria-required="true" aria-invalid="false" placeholder="Email"></span></div><div class="itemHidden"><span class="wpcf7-form-control-wrap id-Product"><input type="text" name="id-Product" value="2439" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required inputHidden" aria-required="true" aria-invalid="false"></span><span class="wpcf7-form-control-wrap name-Product"><input type="text" name="name-Product" value="Tẩy tế bào chết Trắng Sáng Da WHITE JEWEL PEELING" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required inputHidden" aria-required="true" aria-invalid="false"></span></div>
                                            </div><div class="text-center">
                                                <input type="submit" value="Gửi đi" class="wpcf7-form-control wpcf7-submit payoffline BuyFastS"><img class="ajax-loader" src="https://thefaceshopvn.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Đang gửi ..." style="visibility: hidden;">
                                            </div><p></p>
                                        </div><p></p>
                                    </div><p></p>
                                </div><div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>
                    <script type="text/javascript">
                                                  jQuery(document).ready(function (e) { jQuery('.fastBuyBtn').click(function () { jQuery('#tuvan-modal').css({ 'display': 'block' }); jQuery('.overLayout').css({ 'display': 'block' }); return false; }); jQuery('.overLayout').click(function () { jQuery('#tuvan-modal').css({ 'display': 'none' }); jQuery('.overLayout').css({ 'display': 'none' }); return false; }); jQuery('#closeModalProduct').click(function () { jQuery('#tuvan-modal').css({ 'display': 'none' }); jQuery('.overLayout').css({ 'display': 'none' }); return false; }); jQuery('#quantity2').change(function () { var priceProductSimple = document.getElementById('priceProductSimple').value; var numP = document.getElementById('quantity2').value; var priceTotal; priceTotal = formatCurrency(numP * priceProductSimple); jQuery('.buynow-total-price').text(log(addCommas(numP * priceProductSimple)) + '₫') }); }); function formatCurrency(total) {
                                                      var neg = false; if (total < 0) { neg = true; total = Math.abs(total); }
                                                      return parseFloat(total, 10).toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + (neg ? "-$" : '₫');
                                                  }
                                                  function log(args) {
                                                      var str = ""; for (var i = 0; i < arguments.length; i++) { if (typeof arguments[i] === "object") { str += JSON.stringify(arguments[i]); } else { str += arguments[i]; } }
                                                      return str;
                                                  }
                                                  function addCommas(str) {
                                                      var parts = (str + "").split("."), main = parts[0], len = main.length, output = "", i = len - 1; while (i >= 0) {
                                                          output = main.charAt(i) + output; if ((len - i) % 3 === 0 && i > 0) { output = "," + output; }
                                                          --i;
                                                      }
                                                      if (parts.length > 1) { output += "," + parts[1]; }
                                                      return output;
                                                  }</script><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2439" class="compare button" data-product_id="2439" rel="nofollow">Compare</a>
                </div><div class="clearfix"></div><div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="sidebar">
                            <div id="secondary" class="secondary">
                                <div id="widget-area" class="widget-area" role="complementary">
                                    <aside id="text-3" class="widget widget_text">
                                        <h2 class="widget-title">Sản phẩm bán chạy</h2><div class="textwidget">
                                            <div class="layout_ProductSidebar">
                                                <ul class="product-list">
                                                    <li>
                                                        <div class="left-block kt-template-loop">
                                                            <a href="https://thefaceshopvn.com/san-pham/tay-te-bao-chet-trang-da-mild-papaya-peeling/" title="Tẩy tế bào chết trắng da MILD PAPAYA PEELING">
                                                                <img class="owl-lazy wp-post-image" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/mild_papaya_peeling_62769d0a-92e6-43cc-4901-340494658722_f20fe60d-73e2-4e2b-48ae-3795525b1fd4_master.jpg" data-src="https://thefaceshopvn.com/wp-content/uploads/2017/04/mild_papaya_peeling_62769d0a-92e6-43cc-4901-340494658722_f20fe60d-73e2-4e2b-48ae-3795525b1fd4_master.jpg" width="300" height="300" alt="Tẩy tế bào chết trắng da MILD PAPAYA PEELING"><span class="giamgia_">-30<i>%</i></span>
                                                            </a><div class="quick-view">
                                                                <a href="#" class="search yith-wcqv-button" data-product_id="2435">Quick View</a>
                                                            </div><div class="add-to-cart"><a href="https://thefaceshopvn.com/san-pham/tay-te-bao-chet-trang-da-mild-papaya-peeling/?add-to-cart=2435" rel="nofollow" data-product_id="2435" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div>
                                                            <a href="#" class="button yith-wcqv-button" data-product_id="2435">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="Tẩy tế bào chết trắng da MILD PAPAYA PEELING" href="https://thefaceshopvn.com/san-pham/tay-te-bao-chet-trang-da-mild-papaya-peeling/">Tẩy tế bào chết trắng da MILD PAPAYA PEELING</a></h5><div class="content_price">
                                                                <span class="price product-price">
                                                                    <span class="price"><span class="price"><del><span class="woocommerce-Price-amount amount">379,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">279,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="left-block kt-template-loop">
                                                            <a href="https://thefaceshopvn.com/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/" title="Tẩy tế bào chết Trắng Sáng Da WHITE JEWEL PEELING">
                                                                <img class="owl-lazy wp-post-image" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/untitled_master.png" data-src="https://thefaceshopvn.com/wp-content/uploads/2017/04/untitled_master.png" width="300" height="300" alt="Tẩy tế bào chết Trắng Sáng Da WHITE JEWEL PEELING"><span class="giamgia_">-32<i>%</i></span>
                                                            </a><div class="quick-view">
                                                                <a href="#" class="search yith-wcqv-button" data-product_id="2439">Quick View</a>
                                                            </div><div class="add-to-cart"><a href="https://thefaceshopvn.com/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/?add-to-cart=2439" rel="nofollow" data-product_id="2439" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div>
                                                            <a href="#" class="button yith-wcqv-button" data-product_id="2439">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="Tẩy tế bào chết Trắng Sáng Da WHITE JEWEL PEELING" href="https://thefaceshopvn.com/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/">Tẩy tế bào chết Trắng Sáng Da WHITE JEWEL PEELING</a></h5><div class="content_price">
                                                                <span class="price product-price">
                                                                    <span class="price"><span class="price"><del><span class="woocommerce-Price-amount amount">299,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">215,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="left-block kt-template-loop">
                                                            <a href="https://thefaceshopvn.com/san-pham/thanh-che-khuyet-diem-tfs-concealer-dual-veil/" title="Thanh che khuyết điểm TFS CONCEALER DUAL VEIL">
                                                                <img class="owl-lazy wp-post-image" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/tfs-concealer-dual-veil-v201_1479aba2-f0ae-41cd-491a-4113d15b704a_master.jpg" data-src="https://thefaceshopvn.com/wp-content/uploads/2017/04/tfs-concealer-dual-veil-v201_1479aba2-f0ae-41cd-491a-4113d15b704a_master.jpg" width="300" height="300" alt="Thanh che khuyết điểm TFS CONCEALER DUAL VEIL"><span class="giamgia_">-39<i>%</i></span>
                                                            </a><div class="quick-view">
                                                                <a href="#" class="search yith-wcqv-button" data-product_id="2537">Quick View</a>
                                                            </div><div class="add-to-cart"><a href="https://thefaceshopvn.com/san-pham/thanh-che-khuyet-diem-tfs-concealer-dual-veil/?add-to-cart=2537" rel="nofollow" data-product_id="2537" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div>
                                                            <a href="#" class="button yith-wcqv-button" data-product_id="2537">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="Thanh che khuyết điểm TFS CONCEALER DUAL VEIL" href="https://thefaceshopvn.com/san-pham/thanh-che-khuyet-diem-tfs-concealer-dual-veil/">Thanh che khuyết điểm TFS CONCEALER DUAL VEIL</a></h5><div class="content_price">
                                                                <span class="price product-price">
                                                                    <span class="price"><span class="price"><del><span class="woocommerce-Price-amount amount">389,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">245,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="left-block kt-template-loop">
                                                            <a href="https://thefaceshopvn.com/san-pham/bot-chan-may-tien-dung-tfs-brow-master-eyebrow-kit/" title="Bột Chân Mày Tiện Dụng TFS BROW MASTER EYEBROW KIT">
                                                                <img class="owl-lazy wp-post-image" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/2_master.jpg" data-src="https://thefaceshopvn.com/wp-content/uploads/2017/04/2_master.jpg" width="300" height="300" alt="Bột Chân Mày Tiện Dụng TFS BROW MASTER EYEBROW KIT"><span class="giamgia_">-20<i>%</i></span>
                                                            </a><div class="quick-view">
                                                                <a href="#" class="search yith-wcqv-button" data-product_id="2597">Quick View</a>
                                                            </div><div class="add-to-cart"><a href="https://thefaceshopvn.com/san-pham/bot-chan-may-tien-dung-tfs-brow-master-eyebrow-kit/?add-to-cart=2597" rel="nofollow" data-product_id="2597" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div>
                                                            <a href="#" class="button yith-wcqv-button" data-product_id="2597">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="Bột Chân Mày Tiện Dụng TFS BROW MASTER EYEBROW KIT" href="https://thefaceshopvn.com/san-pham/bot-chan-may-tien-dung-tfs-brow-master-eyebrow-kit/">Bột Chân Mày Tiện Dụng TFS BROW MASTER EYEBROW KIT</a></h5><div class="content_price">
                                                                <span class="price product-price">
                                                                    <span class="price"><span class="price"><del><span class="woocommerce-Price-amount amount">289,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">219,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="left-block kt-template-loop">
                                                            <a href="https://thefaceshopvn.com/san-pham/tfs-bare-skin-mineral-cover-powder/" title="Phấn Phủ Khoáng Làm Mịn Da TFS BARE SKIN MINERAL COVER POWDER SPF27 PA++">
                                                                <img class="owl-lazy wp-post-image" src="https://thefaceshopvn.com/wp-content/uploads/2017/12/tfs_bare_skin_mineral_cover_powder_spf27_pa___n203_master.jpg" data-src="https://thefaceshopvn.com/wp-content/uploads/2017/12/tfs_bare_skin_mineral_cover_powder_spf27_pa___n203_master.jpg" width="300" height="300" alt="Phấn Phủ Khoáng Làm Mịn Da TFS BARE SKIN MINERAL COVER POWDER SPF27 PA++"><span class="giamgia_">-46<i>%</i></span>
                                                            </a><div class="quick-view">
                                                                <a href="#" class="search yith-wcqv-button" data-product_id="3194">Quick View</a>
                                                            </div><div class="add-to-cart"><a href="https://thefaceshopvn.com/san-pham/tfs-bare-skin-mineral-cover-powder/?add-to-cart=3194" rel="nofollow" data-product_id="3194" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div>
                                                            <a href="#" class="button yith-wcqv-button" data-product_id="3194">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="Phấn Phủ Khoáng Làm Mịn Da TFS BARE SKIN MINERAL COVER POWDER SPF27 PA++" href="https://thefaceshopvn.com/san-pham/tfs-bare-skin-mineral-cover-powder/">Phấn Phủ Khoáng Làm Mịn Da TFS BARE SKIN MINERAL COVER POWDER SPF27 PA++</a></h5><div class="content_price">
                                                                <span class="price product-price">
                                                                    <span class="price"><span class="price"><del><span class="woocommerce-Price-amount amount">549,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">359,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="left-block kt-template-loop">
                                                            <a href="https://thefaceshopvn.com/san-pham/phan-nuoc-che-khuyet-diem-sang-da-miracle-finish-anti-darkening-cushion-spf50-pa/" title="Phấn Nước Che Khuyết Điểm Sáng Da MIRACLE FINISH ANTI-DARKENING CUSHION SPF50+ PA+++">
                                                                <img class="owl-lazy wp-post-image" src="https://thefaceshopvn.com/wp-content/uploads/2018/01/anti-darkening.jpg" data-src="https://thefaceshopvn.com/wp-content/uploads/2018/01/anti-darkening.jpg" width="300" height="300" alt="Phấn Nước Che Khuyết Điểm Sáng Da MIRACLE FINISH ANTI-DARKENING CUSHION SPF50+ PA+++"><span class="giamgia_">-43<i>%</i></span>
                                                            </a><div class="quick-view">
                                                                <a href="#" class="search yith-wcqv-button" data-product_id="3279">Quick View</a>
                                                            </div><div class="add-to-cart"><a href="https://thefaceshopvn.com/san-pham/phan-nuoc-che-khuyet-diem-sang-da-miracle-finish-anti-darkening-cushion-spf50-pa/?add-to-cart=3279" rel="nofollow" data-product_id="3279" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div>
                                                            <a href="#" class="button yith-wcqv-button" data-product_id="3279">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="Phấn Nước Che Khuyết Điểm Sáng Da MIRACLE FINISH ANTI-DARKENING CUSHION SPF50+ PA+++" href="https://thefaceshopvn.com/san-pham/phan-nuoc-che-khuyet-diem-sang-da-miracle-finish-anti-darkening-cushion-spf50-pa/">Phấn Nước Che Khuyết Điểm Sáng Da MIRACLE FINISH ANTI-DARKENING CUSHION SPF50+ PA+++</a></h5><div class="content_price">
                                                                <span class="price product-price">
                                                                    <span class="price"><span class="price"><del><span class="woocommerce-Price-amount amount">690,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">399,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div><div class=" clearfix"></div>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div><div class="main-content col-xs-12 col-sm-8 col-md-9">
                        <div class="woocommerce-tabs wc-tabs-wrapper"><ul class="tabs wc-tabs" role="tablist"><li class="description_tab active" id="tab-title-description" role="tab" aria-controls="tab-description"><a href="#tab-description">THÔNG TIN SẢN PHẨM</a></li></ul><div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description" style="display: block;"><div class="des"><p><strong>Công dụng</strong></p><p>Sống trong môi trường ô nhiễm, nhiều khói bụi làm da bạn thêm lão hóa nhanh, thiếu sức sống, và khả năng hấp thụ chất dinh dưỡng kém đi rất nhiều do các tế bào chết, bã nhờn tích tụ và các độc tố trên bề mặt da.</p><p>Sở hữu một làn da trắng sáng, mịn màng luôn là mơ ước của hầu hết phái nữ. Để có được một làn da hoàn hảo, tươi trẻ thì&nbsp;tẩy da chết ngọc trai WHITE JEWEL PEELING chính là giải pháp mà bạn đừng quên bỏ qua bước tẩy tế bào chết.</p><p>Sản phẩm giúp làm sạch và nhẹ nhàng loại bỏ tế bào chết trên da mặt, thúc đẩy vòng tuần hoàn máu ngăn chặn các tác nhân gây sạm nám da, cung cấp dưỡng chất giúp tái tạo làn da mới, cho bạn làn da sáng hồng tự nhiên và rạng rỡ, giúp loại bỏ hoàn toàn mụn đầu đen, mụn trứng cá, làm sạch bã nhờn giúp se khít lỗ chân lông. Đặc biệt, khả năng ngăn ngừa lão hoá làm săn chắc cơ mặt sẽ làm giảm vết nhăn trên da hiệu quả, kích hoạt sự hoạt động của da để dễ dàng hấp thu các sản phẩm dưỡng da, và giúp khuôn mặt khi trang điểm bắt phấn tốt hơn.</p><p><img src="//file.hstatic.net/1000036599/file/sdada.jpg" alt=""></p><p><strong>Thành phần</strong></p><p>Tẩy tế bào chết&nbsp;WHITE JEWEL PEELING&nbsp;với chiết xuất từ thạch anh tím, đá mắt mèo và bột ngọc trai giúp loại bỏ tế bào chết, thúc đẩy tuần hoàn máu và làm trắng sáng da.</p><p><strong>Hướng dẫn sử dụng</strong></p><p>Làm sạch da và lau khô. Lấy một lượng sản phẩm vừa đủ ra tay rồi mát xa nhẹ nhàng trong khoảng 30 giây. Rửa mặt sạch với nước.</p><p><img src="//file.hstatic.net/1000036599/file/peeling.jpg" alt=""></p></div><p class="show-more" style="display: block;"><a href="javascript:;" class="readmore">Đọc thêm </a></p></div></div>
                        <script type="text/javascript">jQuery(document).ready(function (e) { jQuery('#tab-description .readmore').click(function () { jQuery('#tab-description .des').css({ 'height': 'inherit' }); jQuery('#tab-description .show-more').css({ 'display': 'none' }); }); });</script> <div class="related products">
                            <h2>SẢN PHẨM LIÊN QUAN</h2><div class="row list-product-row">
                                <ul class="product-list clearfix columns-3 owl-carousel owl-theme owl-loaded">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 2700px;">
                                            <div class="owl-item active" style="width: 300px; margin-right: 0px;">
                                                <li class="first col-xs-12 col-md-3 col-sm-6 post-2396 product type-product status-publish has-post-thumbnail product_cat-lam-sach product_cat-sua-rua-mat product_cat-white-seed  instock sale shipping-taxable purchasable product-type-simple">
                                                    <div class="product-container">
                                                        <a href="https://thefaceshopvn.com/san-pham/sua-rua-mat-lam-trang-sang-da-white-seed-exfoliating-foam-cleanser/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                                                            <a href="https://thefaceshopvn.com/san-pham/sua-rua-mat-lam-trang-sang-da-white-seed-exfoliating-foam-cleanser/" class="woocommerce-LoopProduct-link">
                                                            </a><a href="https://thefaceshopvn.com/san-pham/sua-rua-mat-lam-trang-sang-da-white-seed-exfoliating-foam-cleanser/">
                                                                <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/white_seed_exfoliating_foam_cleanser_master-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="white_seed_exfoliating_foam_cleanser_master" title="white_seed_exfoliating_foam_cleanser_master" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/04/white_seed_exfoliating_foam_cleanser_master-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/04/white_seed_exfoliating_foam_cleanser_master-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/04/white_seed_exfoliating_foam_cleanser_master-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                                                            </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2396" class="compare button" data-product_id="2396" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2396">Quick View</a></div>
                                                            <div class="add-to-cart"><a href="/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/?add-to-cart=2396" rel="nofollow" data-product_id="2396" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2396">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="Sữa Rửa Mặt Làm Trắng Sáng Da WHITE SEED EXFOLIATING FOAM CLEANSER" href="https://thefaceshopvn.com/san-pham/sua-rua-mat-lam-trang-sang-da-white-seed-exfoliating-foam-cleanser/">Sữa Rửa Mặt Làm Trắng Sáng Da WHITE SEED EXFOLIATING FOAM CLEANSER</a></h5><div class="content_price">
                                                                <span class="price"><del><span class="woocommerce-Price-amount amount">349,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">275,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                                                            </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div><div class="owl-item active" style="width: 300px; margin-right: 0px;">
                                                <li class="col-xs-12 col-md-3 col-sm-6 post-2390 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-herb-day product_cat-lam-sach product_cat-sua-rua-mat last instock sale shipping-taxable purchasable product-type-simple">
                                                    <div class="product-container">
                                                        <a href="https://thefaceshopvn.com/san-pham/sua-rua-mat-lam-sang-da-herb-day-365-cleansing-foam-lemon/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                                                            <a href="https://thefaceshopvn.com/san-pham/sua-rua-mat-lam-sang-da-herb-day-365-cleansing-foam-lemon/" class="woocommerce-LoopProduct-link">
                                                            </a><a href="https://thefaceshopvn.com/san-pham/sua-rua-mat-lam-sang-da-herb-day-365-cleansing-foam-lemon/">
                                                                <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/herb_day_365_cleansing_foam_lemon_master-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="herb_day_365_cleansing_foam_lemon_master" title="herb_day_365_cleansing_foam_lemon_master" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/04/herb_day_365_cleansing_foam_lemon_master-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/04/herb_day_365_cleansing_foam_lemon_master-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/04/herb_day_365_cleansing_foam_lemon_master-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                                                            </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2390" class="compare button" data-product_id="2390" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2390">Quick View</a></div>
                                                            <div class="add-to-cart"><a href="/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/?add-to-cart=2390" rel="nofollow" data-product_id="2390" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2390">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="Sữa Rửa Mặt Làm Sáng Da HERB DAY 365 CLEANSING FOAM LEMON" href="https://thefaceshopvn.com/san-pham/sua-rua-mat-lam-sang-da-herb-day-365-cleansing-foam-lemon/">Sữa Rửa Mặt Làm Sáng Da HERB DAY 365 CLEANSING FOAM LEMON</a></h5><div class="content_price">
                                                                <span class="price"><del><span class="woocommerce-Price-amount amount">129,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">99,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                                                            </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div><div class="owl-item active" style="width: 300px; margin-right: 0px;">
                                                <li class="first col-xs-12 col-md-3 col-sm-6 post-3197 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-cham-soc-co-the product_cat-duong-tay-duong-chan product_cat-lam-sach product_cat-perfume-seed product_cat-san-pham-khuyen-mai product_cat-san-pham-noi-bat product_cat-sua-gel-tam product_cat-sua-kem-gel-duong-the product_cat-tay-te-bao-chet product_cat-tay-te-bao-chet-co-the  instock sale shipping-taxable purchasable product-type-simple">
                                                    <div class="product-container">
                                                        <a href="https://thefaceshopvn.com/san-pham/bo-duong-trang-da-toan-perfume-seed-white-peony-body/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                                                            <a href="https://thefaceshopvn.com/san-pham/bo-duong-trang-da-toan-perfume-seed-white-peony-body/" class="woocommerce-LoopProduct-link">
                                                            </a><a href="https://thefaceshopvn.com/san-pham/bo-duong-trang-da-toan-perfume-seed-white-peony-body/">
                                                                <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/12/PerfumeSeedWhitePeonyBodyScrub2-500x500-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="PerfumeSeedWhitePeonyBodyScrub2-500x500" title="PerfumeSeedWhitePeonyBodyScrub2-500x500" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/12/PerfumeSeedWhitePeonyBodyScrub2-500x500-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/12/PerfumeSeedWhitePeonyBodyScrub2-500x500-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/12/PerfumeSeedWhitePeonyBodyScrub2-500x500-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                                                            </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=3197" class="compare button" data-product_id="3197" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="3197">Quick View</a></div>
                                                            <div class="add-to-cart"><a href="/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/?add-to-cart=3197" rel="nofollow" data-product_id="3197" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="3197">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="Bộ dưỡng trắng da toàn thân PERFUME SEED WHITE PEONY BODY" href="https://thefaceshopvn.com/san-pham/bo-duong-trang-da-toan-perfume-seed-white-peony-body/">Bộ dưỡng trắng da toàn thân PERFUME SEED WHITE PEONY BODY</a></h5><div class="content_price">
                                                                <span class="price"><del><span class="woocommerce-Price-amount amount">1,377,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">945,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                                                            </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div><div class="owl-item" style="width: 300px; margin-right: 0px;">
                                                <li class="col-xs-12 col-md-3 col-sm-6 post-2387 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-herb-day product_cat-lam-sach product_cat-sua-rua-mat last instock sale shipping-taxable purchasable product-type-simple">
                                                    <div class="product-container">
                                                        <a href="https://thefaceshopvn.com/san-pham/sua-rua-mat-lam-sang-da-herb-day-365-cleansing-foam-acerola/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                                                            <a href="https://thefaceshopvn.com/san-pham/sua-rua-mat-lam-sang-da-herb-day-365-cleansing-foam-acerola/" class="woocommerce-LoopProduct-link">
                                                            </a><a href="https://thefaceshopvn.com/san-pham/sua-rua-mat-lam-sang-da-herb-day-365-cleansing-foam-acerola/">
                                                                <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/herb_day_365_cleansing_foam_acerol_master-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="herb_day_365_cleansing_foam_acerol_master" title="herb_day_365_cleansing_foam_acerol_master" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/04/herb_day_365_cleansing_foam_acerol_master-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/04/herb_day_365_cleansing_foam_acerol_master-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/04/herb_day_365_cleansing_foam_acerol_master-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                                                            </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2387" class="compare button" data-product_id="2387" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2387">Quick View</a></div>
                                                            <div class="add-to-cart"><a href="/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/?add-to-cart=2387" rel="nofollow" data-product_id="2387" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2387">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="Sữa Rửa Mặt Làm Sáng Da HERB DAY 365 CLEANSING FOAM ACEROLA" href="https://thefaceshopvn.com/san-pham/sua-rua-mat-lam-sang-da-herb-day-365-cleansing-foam-acerola/">Sữa Rửa Mặt Làm Sáng Da HERB DAY 365 CLEANSING FOAM ACEROLA</a></h5><div class="content_price">
                                                                <span class="price"><del><span class="woocommerce-Price-amount amount">129,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">99,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                                                            </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div><div class="owl-item" style="width: 300px; margin-right: 0px;">
                                                <li class="first col-xs-12 col-md-3 col-sm-6 post-2373 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-herb-day product_cat-lam-sach product_cat-sua-rua-mat  instock sale shipping-taxable purchasable product-type-simple">
                                                    <div class="product-container">
                                                        <a href="https://thefaceshopvn.com/san-pham/sua-rua-mat-cung-cap-am-herb-day-365-cleansing-foam-peach/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                                                            <a href="https://thefaceshopvn.com/san-pham/sua-rua-mat-cung-cap-am-herb-day-365-cleansing-foam-peach/" class="woocommerce-LoopProduct-link">
                                                            </a><a href="https://thefaceshopvn.com/san-pham/sua-rua-mat-cung-cap-am-herb-day-365-cleansing-foam-peach/">
                                                                <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/tsrerewrewrwe-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="tsrerewrewrwe" title="tsrerewrewrwe" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/04/tsrerewrewrwe-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/04/tsrerewrewrwe-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/04/tsrerewrewrwe-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                                                            </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2373" class="compare button" data-product_id="2373" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2373">Quick View</a></div>
                                                            <div class="add-to-cart"><a href="/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/?add-to-cart=2373" rel="nofollow" data-product_id="2373" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2373">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="Sữa Rửa Mặt Cung Cấp Ẩm HERB DAY 365 CLEANSING FOAM PEACH" href="https://thefaceshopvn.com/san-pham/sua-rua-mat-cung-cap-am-herb-day-365-cleansing-foam-peach/">Sữa Rửa Mặt Cung Cấp Ẩm HERB DAY 365 CLEANSING FOAM PEACH</a></h5><div class="content_price">
                                                                <span class="price"><del><span class="woocommerce-Price-amount amount">129,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">99,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                                                            </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div><div class="owl-item" style="width: 300px; margin-right: 0px;">
                                                <li class="col-xs-12 col-md-3 col-sm-6 post-3966 product type-product status-publish has-post-thumbnail product_cat-bo-san-pham-duong-da product_cat-dong-duong-gao product_cat-lam-sach product_cat-san-pham-tay-trang last instock sale shipping-taxable purchasable product-type-simple">
                                                    <div class="product-container">
                                                        <a href="https://thefaceshopvn.com/san-pham/tinh-dau-tay-trang-trang-da-rice-water-bright-rich-cleansing-oil-thefaceshop/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                                                            <a href="https://thefaceshopvn.com/san-pham/tinh-dau-tay-trang-trang-da-rice-water-bright-rich-cleansing-oil-thefaceshop/" class="woocommerce-LoopProduct-link">
                                                            </a><a href="https://thefaceshopvn.com/san-pham/tinh-dau-tay-trang-trang-da-rice-water-bright-rich-cleansing-oil-thefaceshop/">
                                                                <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2018/05/taytrangcamgao_1501476645-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="taytrangcamgao_1501476645" title="taytrangcamgao_1501476645" srcset="https://thefaceshopvn.com/wp-content/uploads/2018/05/taytrangcamgao_1501476645-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2018/05/taytrangcamgao_1501476645-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2018/05/taytrangcamgao_1501476645-420x512.jpg 420w, https://thefaceshopvn.com/wp-content/uploads/2018/05/taytrangcamgao_1501476645-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                                                            </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=3966" class="compare button" data-product_id="3966" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="3966">Quick View</a></div>
                                                            <div class="add-to-cart"><a href="/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/?add-to-cart=3966" rel="nofollow" data-product_id="3966" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="3966">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="Tinh Dầu Tẩy Trang Trắng Da Rice Water Bright Rich Cleansing Oil TheFaceshop" href="https://thefaceshopvn.com/san-pham/tinh-dau-tay-trang-trang-da-rice-water-bright-rich-cleansing-oil-thefaceshop/">Tinh Dầu Tẩy Trang Trắng Da Rice Water Bright Rich Cleansing Oil TheFaceshop</a></h5><div class="content_price">
                                                                <span class="price"><del><span class="woocommerce-Price-amount amount">399,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">255,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                                                            </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div><div class="owl-item" style="width: 300px; margin-right: 0px;">
                                                <li class="first col-xs-12 col-md-3 col-sm-6 post-2474 product type-product status-publish has-post-thumbnail product_cat-kem-nen-che-khuyet-diem product_cat-kem-nen-da-nang-bb-cream product_cat-san-pham-noi-bat product_cat-trang-diem-nen  instock sale shipping-taxable purchasable product-type-simple">
                                                    <div class="product-container">
                                                        <a href="https://thefaceshopvn.com/san-pham/kem-nen-da-nang-power-perfection-bb-cream-spf37-pa/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                                                            <a href="https://thefaceshopvn.com/san-pham/kem-nen-da-nang-power-perfection-bb-cream-spf37-pa/" class="woocommerce-LoopProduct-link">
                                                            </a><a href="https://thefaceshopvn.com/san-pham/kem-nen-da-nang-power-perfection-bb-cream-spf37-pa/">
                                                                <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/1_1603836a8d0b4c63b3f46dbaf9942aad_master-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="1_1603836a8d0b4c63b3f46dbaf9942aad_master" title="1_1603836a8d0b4c63b3f46dbaf9942aad_master" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/04/1_1603836a8d0b4c63b3f46dbaf9942aad_master-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/04/1_1603836a8d0b4c63b3f46dbaf9942aad_master-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/04/1_1603836a8d0b4c63b3f46dbaf9942aad_master-420x512.jpg 420w, https://thefaceshopvn.com/wp-content/uploads/2017/04/1_1603836a8d0b4c63b3f46dbaf9942aad_master-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                                                            </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2474" class="compare button" data-product_id="2474" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2474">Quick View</a></div>
                                                            <div class="add-to-cart"><a href="/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/?add-to-cart=2474" rel="nofollow" data-product_id="2474" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2474">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="Kem Nền Đa Năng POWER PERFECTION BB CREAM SPF37 PA++" href="https://thefaceshopvn.com/san-pham/kem-nen-da-nang-power-perfection-bb-cream-spf37-pa/">Kem Nền Đa Năng POWER PERFECTION BB CREAM SPF37 PA++</a></h5><div class="content_price">
                                                                <span class="price"><del><span class="woocommerce-Price-amount amount">785,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">485,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                                                            </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div><div class="owl-item" style="width: 300px; margin-right: 0px;">
                                                <li class="col-xs-12 col-md-3 col-sm-6 post-2490 product type-product status-publish has-post-thumbnail product_cat-kem-nen-che-khuyet-diem product_cat-phan-nuoc-cc-cream product_cat-san-pham-khuyen-mai product_cat-san-pham-moi product_cat-san-pham-noi-bat product_cat-trang-diem-nen last instock sale shipping-taxable purchasable product-type-simple">
                                                    <div class="product-container">
                                                        <a href="https://thefaceshopvn.com/san-pham/phan-nuoc-che-khuyet-diem-miracle-finish-cc-intense-cover-cushion-spf50-pa/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                                                            <a href="https://thefaceshopvn.com/san-pham/phan-nuoc-che-khuyet-diem-miracle-finish-cc-intense-cover-cushion-spf50-pa/" class="woocommerce-LoopProduct-link">
                                                            </a><a href="https://thefaceshopvn.com/san-pham/phan-nuoc-che-khuyet-diem-miracle-finish-cc-intense-cover-cushion-spf50-pa/">
                                                                <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/intense_203_master-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="intense_203_master" title="intense_203_master" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/04/intense_203_master-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/04/intense_203_master-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/04/intense_203_master-420x512.jpg 420w, https://thefaceshopvn.com/wp-content/uploads/2017/04/intense_203_master-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                                                            </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2490" class="compare button" data-product_id="2490" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2490">Quick View</a></div>
                                                            <div class="add-to-cart"><a href="/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/?add-to-cart=2490" rel="nofollow" data-product_id="2490" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2490">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="Phấn Nước Che Khuyết Điểm MIRACLE FINISH CC INTENSE COVER CUSHION SPF50+ PA+++" href="https://thefaceshopvn.com/san-pham/phan-nuoc-che-khuyet-diem-miracle-finish-cc-intense-cover-cushion-spf50-pa/">Phấn Nước Che Khuyết Điểm MIRACLE FINISH CC INTENSE COVER CUSHION SPF50+ PA+++</a></h5><div class="content_price">
                                                                <span class="price"><del><span class="woocommerce-Price-amount amount">599,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">399,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                                                            </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div><div class="owl-item" style="width: 300px; margin-right: 0px;">
                                                <li class="first col-xs-12 col-md-3 col-sm-6 post-2405 product type-product status-publish has-post-thumbnail product_cat-lam-sach product_cat-sua-rua-mat  instock sale shipping-taxable purchasable product-type-simple">
                                                    <div class="product-container">
                                                        <a href="https://thefaceshopvn.com/san-pham/sua-rua-mat-tao-bot-cung-cap-nuoc-chia-seed-fresh-bubble-foam/" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                                                            <a href="https://thefaceshopvn.com/san-pham/sua-rua-mat-tao-bot-cung-cap-nuoc-chia-seed-fresh-bubble-foam/" class="woocommerce-LoopProduct-link">
                                                            </a><a href="https://thefaceshopvn.com/san-pham/sua-rua-mat-tao-bot-cung-cap-nuoc-chia-seed-fresh-bubble-foam/">
                                                                <img width="300" height="366" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/chia_seed_fresh_bubble_foam_master-300x366.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="chia_seed_fresh_bubble_foam_master" title="chia_seed_fresh_bubble_foam_master" srcset="https://thefaceshopvn.com/wp-content/uploads/2017/04/chia_seed_fresh_bubble_foam_master-100x122.jpg 100w, https://thefaceshopvn.com/wp-content/uploads/2017/04/chia_seed_fresh_bubble_foam_master-300x366.jpg 300w, https://thefaceshopvn.com/wp-content/uploads/2017/04/chia_seed_fresh_bubble_foam_master-270x329.jpg 270w" sizes="(max-width: 300px) 100vw, 300px">
                                                            </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=2405" class="compare button" data-product_id="2405" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="2405">Quick View</a></div>
                                                            <div class="add-to-cart"><a href="/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/?add-to-cart=2405" rel="nofollow" data-product_id="2405" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="2405">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="Sữa Rửa Mặt Tạo Bọt Cung Cấp Nước CHIA SEED FRESH BUBBLE FOAM" href="https://thefaceshopvn.com/san-pham/sua-rua-mat-tao-bot-cung-cap-nuoc-chia-seed-fresh-bubble-foam/">Sữa Rửa Mặt Tạo Bọt Cung Cấp Nước CHIA SEED FRESH BUBBLE FOAM</a></h5><div class="content_price">
                                                                <span class="price"><del><span class="woocommerce-Price-amount amount">489,000<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">325,000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                                                            </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><meta itemprop="url" content="https://thefaceshopvn.com/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/">
            </div>
        </div>
    </div>
</div>

